body {
  background-color: #f0e6fa;
  font-family: cursive;
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

header, section, footer {
  padding: 20px;
}

h1 {
  color: #8e44ad;
  margin-bottom: 10px;
}

h3 {
  color: #3ba9e7;
  margin-top: 20px;
}

p {
  color: #333;
  line-height: 1.5;
}

img {
   display: block;
  /*
  margin: 0 auto;
  width: 100%;  Responsive image */
}

.friend-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.friend-list li {
  color: #333;
  margin-bottom: 5px;
}

.friend-list li a {
  text-decoration: none;
  color: inherit;
}

.friend-list li:hover {
  color: #ffc1ce;
  text-decoration: underline dotted 2px #ffc1ce;
}

footer {
  text-align: center;
  background-color: #e0e0e0;
  padding-top: 10px;
}

/* Media queries for responsiveness */

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1rem;
  }
}
